apiVersion: v1
kind: Service
metadata:
  name: awesome-media-config-server
spec:
  ports:
    - name: "http"
      port: 8888
      targetPort: 8888
  selector:
    app: awesome-media-config-server
  type: NodePort